<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Did You?</title>
        <link
            href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900&display=swap"
            rel="stylesheet"
        />
            <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
            <script defer src="{{url_for('static', filename='js/script.js') }}"></script>
    </head>

    <body>
        <h1 class="title">Did You?</h1>
        <div class="logged-in">Logged in as {{ current_user.username}}</div>
        
        <a class="logout" href="{{ url_for('users.logout') }}">Log out</a>

        <div class="all-tasks">
            <h2 class="task-board-title">Your boards</h2>
            <ul class="task-board" data-lists></ul>

            <form action="" data-new-list-form>
                <input 
                    type="text"
                    class="new board"
                    data-new-list-input
                    placeholder="Add board"
                    aria-label="Add board"
                    maxlength="15"
                />
                <button class="button create" aria-label="create new board">+</button>
            </form>
        </div>

        <div class="todo-list" data-list-display-container>
            <div class="todo-header">
                <h2 class="board-title" data-list-title>General</h2>
                <p class="task-counter" data-list-count>3 tasks remaining</p>
            </div>

            <div class="todo-body">
                <div class="tasks" data-tasks></div>

                <div class="new-task-creator">
                    <form action="" data-new-task-form>
                        <input 
                            type="text"
                            data-new-task-input
                            class="new task"
                            placeholder="Add task"
                            aria-label="Add task"
                            maxlength="30"
                        />
                        <button class="button create" aria-label="create new task">+</button>
                    </form>
                </div>

                <div class="delete-component">
                    <button class="button delete" data-clear-complete-tasks-button>Clear completed tasks</button>
                    <button class="button delete" data-delete-list-button>Delete current board</button>
                </div>
            </div>
        </div>

        </div>
        <template id="task-template">
            <div class="task">
                <input type="checkbox"/>
                <label>
                    <span class="custom-checkbox"></span>
                </label>
            </div>
        </template>
    </body>

</html>